<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About — Scratch Info</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="/js/info.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/navbar.js"></script>
</head>
<body>
    {{{nav}}}
    <div id="container">
        <p>Scratch Info is a Node.js app that returns information about Scratch users or projects. It's kind of a mix between <a href="https://scratchstats.com" target="_blank">ScratchStats</a> and <a href="https://scratchviews.com" target="_blank">ScratchViews</a>.</p>
        <p>To try it out, enter a project id or username in the search bar above.</p>
    </div>
</body>
</html>