<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About — Scratch Info</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <script src="/js/info.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/navbar.js"></script>
    </head>

    <body>
        {{{nav}}}
        <div id="container" style="height: 60vh">
            <div style="display:flex;align-items:center;width:50%;height:100%" class="c">
                <div>
                    <p>Scratch Info is a JavaScript app/tool with an API that returns information about Scratch users and projects. It's kind of a mix between <a href="https://scratchstats.com" target="_blank">ScratchStats</a> and <a href="https://scratchviews.com" target="_blank">ScratchViews</a>.</p>
                    <p>It automatically calculates statistics and gives useful information.</p>
                    <p>Scratch Info comes with a built-in convenient API for using this data in other applications and pages. To find out more, check out the <a href="/api/docs">docs</a></p>
                    <p>To try it out, enter a project id or username in the search bar above.</p>
                </div>
            </div>
        </div>
    </body>

</html>