<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Scratch Info API Docs" />
        <title>Scratch Info API Docs</title>
        <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@5.11.0/swagger-ui.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <script src="/js/navbar.js"></script>
        <script src="/js/main.js"></script>
        <style>
            .base-url, .base-url+a, .version-stamp, td[class="response-col_description"]:has(div > pre.microlight)> :nth-child(2), a[href="/openapi.yaml"] { display: none !important; } body { margin: 0; }
        </style>
    </head>

    <body>
        {{{nav}}}
        <div id="swagger-ui"></div>
        <script src="https://unpkg.com/swagger-ui-dist@5.11.0/swagger-ui-bundle.js" crossorigin></script>
        <script>
            window.onload = () => { window.ui = SwaggerUIBundle({ url: '/openapi.yaml', dom_id: '#swagger-ui', }); };
        </script>
    </body>

</html>